<app-header></app-header>
<app-back-to-top></app-back-to-top>
<router-outlet></router-outlet>

<ng-container *ngIf="isHomeOrAbout()">
  <section appAppInViewport animationClass="fade-from-bottom">
    <app-about-us id="about"></app-about-us>
  </section>
  <section appAppInViewport animationClass="fade-from-bottom">
    <app-packages id="packages"></app-packages>
  </section>
  <section appAppInViewport animationClass="fade-from-bottom">
    <app-auction id="auction"></app-auction>
  </section>
  <section appAppInViewport animationClass="fade-from-bottom">
    <app-feature id="features"></app-feature>
  </section>
  <section appAppInViewport animationClass="fade-from-bottom">
    <app-our-services id="our-services"></app-our-services>
  </section>
  <section appAppInViewport animationClass="fade-from-bottom">
    <app-contact id="contact"></app-contact>
  </section>
  <section appAppInViewport animationClass="fade-from-bottom">
    <app-footer></app-footer>
  </section>
  <section appAppInViewport animationClass="fade-from-bottom">
    <app-counter></app-counter>
  </section>
  <section appAppInViewport animationClass="fade-from-bottom">
    <app-slider></app-slider>
  </section>
</ng-container>